:root {
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
    --primary-color:#ee4d2d; 
    --primary-color-rgba:rgb(238, 77, 45); 
    --border-color: #dbdbdb;
    --star-gold-color:#FFCE3E;
    --navbar-height: 30.4px;
    --header-height: 120px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* responsive */

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/* test */
.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3333%;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes growth {
    0% {
        transform: scale(var(--growth-from));
    }
    100% {
        transform: scale(var(--growth-to));
    }
}

/* modal */
/* chiếm trọn khung màn hình */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    animation: fadeIn linear .1s;
}

/* phủ lớp mờ */
.modal__overlay {
    position: absolute;
    width: 100%;
    height:100%;
    background-color: rgba(0, 0 , 0, 0.4);
}

/* form ở giữa */
.modal__body {
    --growth-from:0.6;
    --growth-to:1;
    margin: auto;
    z-index: 1;
    position: relative;
    animation: growth linear .1s;
}

.btn {
    height: 34px;
    min-width: 124px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
    background-color: var(--white-color);
}

.btn.btn--normal:hover {
    background-color: rgba(0,0,0,0.05);
}

.btn.btn--primary {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn.btn--disabled {
    cursor: default;
    background-color: #999;
    color: #ccc;
}

.btn.btn--size-s {
    height: 32px;
    font-size: 1.2rem;
    padding: 0 8px;
}

/* selection */

.select-input {
    height: 34px;
    min-width: 200px;
    padding:  0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
}

.select-input__label {
    font-size: 1.4rem;
}

.select-input__icon {
    font-size: 1.4rem;
    color: #747171;
    position: relative;
    top: 1px;
}

.select-input__list {
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    border-radius: 2px;
    background-color: var(--white-color);
    padding-left: 0;
    list-style: none;
    padding: 8px 16px;
    display: none;
    z-index: 1;
}

.select-input:hover .select-input__list {
    display: block;
}

.select-input__link {
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    padding: 6px 0;
    display: block;
}

.select-input__link:hover {
    color: var(--primary-color);
}


/* pagination */

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-left: 0;
}

.pagination-item {
    margin: 0 12px;
}

.pagination-item__link {
    --height:30px;
    text-decoration: none;
    color: #939393;
    display: block;
    min-width: 40px;
    height: var(--height);
    font-size: 2rem;
    line-height: var(--height);
    text-align: center;
    border-radius: 2px;
    font-weight: 300;
}

.pagination-item--active .pagination-item__link {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.pagination-item--active .pagination-item__link:hover {
    background-color: rgb(255, 93, 35);
}

.pagination-item__icon {

}
